<section class="featured-product text-center padding-top-xs padding-bottom-sm bg-light-grey">
  <div class="container">
    <h2 class="margin-bottom-xs">Our Services</h2>
    <div class="row">
      <div class="col-md-2 margin-right-xs grid-card padding-top-xs padding-bottom-xs">
        <span class="fas fa-car"></span>
        <h4>Passenger Tires</h4>
        <p>
          <a href="#passengertires" class="btn cta-opt scroll">Explore</a>
        </p>
      </div>
      <div class="col-md-2 grid-card margin-right-xs padding-top-xs padding-bottom-xs">
        <span class="fas fa-car"></span>
        <h4>Alignment & Brakes</h4>
        <p>
          <a href="#brakes" class="btn cta-opt scroll">Explore</a>
        </p>
      </div>
      <div class="col-md-2 margin-right-xs grid-card padding-top-xs padding-bottom-xs">
        <span class="fas fa-car"></span>
        <h4>Oil Change</h4>
        <p>
          <a href="#oilchange" class="btn cta-opt scroll">Explore</a>
        </p>
      </div>
      <div class="col-md-2 margin-right-xs grid-card padding-top-xs padding-bottom-xs">
        <span class="fas fa-car"></span>
        <h4>Custom Wheels</h4>
        <p>
          <a href="#customwheels" class="btn cta-opt scroll">Explore</a>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="breadcrumb-subnav">
    <nav role="navigation" class="navbar navbar-default margin-none">
    <div class="container">
        <ol class="breadcrumb padding-left-none">
        <li><a href="/">Home</a></li>
        <li class="active"><%= @title %></li>
        </ol>
    </div>
    </nav>
</section>

<section class="services">
  <div class="container">
    <div class="row" id="passengertires">
      <div class="col-md-12">
        <h3 class="margin-bottom-xs">Passenger Tires</h3>
      </div>
      <div class="col-md-8 col-sm-8 margin-top-sm">
        <p>
          At Lugnut Tire’s we value the legacy of your passenger vehicle tire. We have various of options of tires that guarantee the right choice for you, and as well your budget.
        </p>
        <p>Buy and replace your passenger tires with our tires center, we offer the best brands to ensure you and your family have the best and safest experience on the road as you travel! Come in and check it out!</p>
        <p>
            <a href="" class="btn cta-primary btn-sm margin-top-xs">Request an Appointment</a>
        </p>
      </div>
      <div class="col-md-4 col-sm-4">
        <p><img src="<%= image_url('tirelabor.jpg') %>" alt="" class="img-responsive" /></p>
      </div>
    </div>
    <hr  />
    <div class="row margin-top-xs" id="brakes">
      <div class="col-md-4 col-sm-4">
        <h3 class="margin-bottom-xs">Alignment &amp; Brakes</h3>
        <p><img src="<%= image_url('tirelabor.jpg') %>" alt="" class="img-responsive" /></p>
      </div>
      <div class="col-md-8 col-sm-8 margin-top-md">
        <p>
          At Lugnut Tire’s we know that your vehicle’s life, your vehicle will hit the occurred potholes, sharp turns, and sharp turns. We know that these actions affect your vehicle’s components to wear down and be replaced.
        </p>
        <p>
          Don’t worry come and have us provide the finest alignments and brake replacements in the business, with us we will analyze your vehicle, write a report by one of our trained specialists, provide that report to you as we will go over it and explain the recommendations made by the specialist and make repairs as requested by the customer!
        </p>
        <p>
            <a href="" class="btn cta-primary btn-sm margin-top-xs">Request an Appointment</a>
        </p>
      </div>
    </div>
    <hr />
    <div class="row margin-top-xs" id="oilchange">
      <div class="col-md-12">
        <h3 class="margin-bottom-xs">Oil Change</h3>
        <p>
          Come and have our trained specialists change your oil, we use only the top oil brands to ensure that your vehicle operates at full capacity! We are dedicated to ensuring your vehicle remains operational for many years to come!
        </p>
        <p>
            <a href="" class="btn cta-primary btn-sm margin-top-xs">Request an Appointment</a>
        </p>
      </div>
    </div>
    <hr />
    <div class="row margin-top-xs" id="customwheels">
      <div class="col-md-12">
        <h3 class="margin-bottom-xs">Custom Wheels</h3>
        <p>
          We create and design the best wheels at the imagination of the customer or we can recommend designs via our design center! Be sure to check it out!
        </p>
        <p>
            <a href="" class="btn cta-primary btn-sm margin-top-xs">Request an Appointment</a>
        </p>
      </div>
    </div>
  </div>
</section>
