<section class="promotions text-center margin-top-sm padding-top-sm padding-bottom-xs">
    <div class="container">
    <form class="form-inline">
        <div class="form-group">
        <label>Promotions</label>
        </div>
        <div class="form-group">
        <input type="text" placeholder="FIRST NAME"  />
        </div>
        <div class="form-group">
        &nbsp;
        <input type="text" placeholder="LAST NAME" />
        </div>
        <button class="btn cta-secondary">Sign Up</button>
    </form>
    </div>
    <div class="container">
    <p class="margin-top-xs">
        <small>* Sign up to receive newsletter emails from Lugnut tires. </small>
    </p>
    </div>
</section>
