<nav class="navbar sticky-promo navbar-static-top text-center">
  <div class="container">
    <p>
        Save $35 with a purchase of 2 or 3 Goodyear and Michelin tires. <%= link_to "Click here for more details.", :controller => "/promotion", :action => "index" %>
    </p>
  </div>
</nav>
