<section class="breadcrumb-subnav">
    <nav role="navigation" class="navbar navbar-default margin-none">
    <div class="container">
        <ol class="breadcrumb padding-left-none">
        <li><a href="/">Home</a></li>
        <li class="active"><%= @title %></li>
        </ol>
    </div>
    </nav>
</section>

<section class="promotion margin-bottom-sm">
  <div class="container">
    <div class="row margin-top-none">
      <div class="col-md-12">
        <h2 class="margin-bottom-xs">Promotions &amp; Rebates</h2>
        <p>Lugnut Tires values its customer’s and offers promotional Digital and Mail-in Rebates for extra savings that is offered within the tire and wheel industry. These promotions offer manufacturer and limited time rebates. All Mail-in rebates will arrive by mail in the form of prepaid card or check. All digital rebates will be credited by check or Lugnut Tires gift card. Timeframe varies and your rebate, in most cases, will arrive in a few weeks.</p>
        <p>A few steps are required to submit a rebate.</p>
        <ol>
          <li>First download the rebate form</li>
          <li>Submit rebate by mail or Online.</li>
        </ol>
        <h3 class="margin-bottom-xs margin-top-sm">Active Rebate Forms</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
          <p>Up to $50 Mail in Rebate - Purchase two tires at regular price and get the other two half-price <span>7/8/18 thru 7/31/18 - Submit or Postmark by <strong>7/31/18</strong></span></p>
      </div>
      <div class="col-md-4">
        <p><a href="#" class="btn cta-opt btn-lg btn-block"><i class="fas fa-download"></i> Download Your Rebate Form</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
          <p>Up to $70 Mail in Rebate - Buy a regular tire, get a spare tire free<span>7/8/18 thru 7/31/18 - Submit or Postmark by <strong>7/31/18</strong></span></p>
      </div>
      <div class="col-md-4">
        <p><a href="#" class="btn cta-opt btn-lg btn-block"><i class="fas fa-download"></i> Download Your Rebate Form</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
          <p>Up to $60 Mail in Rebate - Free vehicle inspection with the purchase of regular price oil change <span>7/8/18 thru 7/31/18 - Submit or Postmark by <strong>7/31/18</strong></span></p>
      </div>
      <div class="col-md-4">
        <p><a href="#" class="btn cta-opt btn-lg btn-block"><i class="fas fa-download"></i> Download Your Rebate Form</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
          <p>Up to $100 Mail in Rebate - Get a free tire rotation with the purchase of 3 oil changes with our oil change punch card <span>7/8/18 thru 7/31/18 - Submit or Postmark by <strong>7/31/18</strong></span></p>
      </div>
      <div class="col-md-4">
        <p><a href="#" class="btn cta-opt btn-lg btn-block"><i class="fas fa-download"></i> Download Your Rebate Form</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
          <p>Up to $20 Mail in Rebate - Earn points for gas at participating gas stations when you purchase tires, oil, or any of our qualifying services. <span>7/8/18 thru 7/31/18 - Submit or Postmark by <strong>7/31/18</strong></span></p>
      </div>
      <div class="col-md-4">
        <p><a href="#" class="btn cta-opt btn-lg btn-block"><i class="fas fa-download"></i> Download Your Rebate Form</a></p>
      </div>
    </div>
  </div>
</section>
