<section class="jumbotron hero about-hero about-us text-center padding-top-lg" style="background-image: url(<%= image_url('lugnut_story_v2.jpg') %>) !important;">
    <div class="container">
    <h2>About Us</h2>
    <span class="divider"></span>
    </div>
</section>

<section class="breadcrumb-subnav">
    <nav role="navigation" class="navbar navbar-default">
    <div class="container">
        <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active"><%= @title %></li>
        </ol>
    </div>
    </nav>
</section>

<section class="about-us">
    <div class="container">

    <div class="row">
        <div class="col-md-12 lead">
            <p>Established in 1968 by Larry Lugnut, we have been providing quality tires and service to customers for 50 years. It is now operated by Patty Lugnut who not only inherited this company, but her grandfather’s customer commitment and values as well.</p>
        </div>

    </div>
    <div class="row">
        <div class="col-md-8 lead">
            <h3 class="margin-bottom-xs">Mission Statement</h3>
            <p>Lugnut’s Tires specializes in providing quality tires and wheels for cars, SUVs, trucks and off-road vehicles at affordable prices. We provide wheels and tires that are durable, long-lasting, and quite. In addition, Lugnut’s Tires provides services that include alignments, brakes, custom tires, and oil changes. The organization’s foundation is putting the customer first and ensuring they are well taken care of and continuing the good customer relationships that has existed since our founding.
            <p><strong>Core Values</strong></p>
            <ul>
                <li>Honesty</li>
                <li>Integrity</li>
                <li>Customer Satisfaction</li>
            </ul>
        </div>
        <div class="col-md-4 margin-top-md">
            <p><img src="<%= image_url('tirelabor.jpg') %>" alt="" class="img-responsive img-thumbnail"></p>
        </div>
        <div class="col-md-12">
            <h3 class="margin-bottom-xs">Customer Promise</h3>
        </div>
        <div class="col-md-8 lead">
            <p>We promise to provide the best services and products to our customers at competitive prices, we promise to ensure the customer is satisfied and when something is not right, we will make it right. We promise to provide the customer with accurate information regarding our products and services, especially when it comes to their vehicles. Lastly we promise that you will be happy with what we provide, this is the legacy of Larry Lugnut.</p>
        </div>
        <div class="col-md-4 margin-top-sm">
            <blockquote>
                <p class="lead">Without satisfied customers, you can’t have success</p>
                <small>Larry Lugnut, Founder</small>
            </blockquote>
        </div>
    </div>

    </div>
</section>
