<section class="jumbotron hero text-center padding-top-lg" style="background-image: url(<%= image_url('contact-hero.jpg') %>); background-attachment: inherit;>
      <div class="container">
        <div class="row">
          <div class="col-md-offset-3 col-md-6">
              <h2>Contact a Service Representative</h2>
              <p class="margin-top-xs">If you have any questions, queries, comments, or just talk about the legacy and life of your vehicle, we're here to help.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="breadcrumb-subnav">
      <nav role="navigation" class="navbar navbar-default">
        <div class="container">
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Contact Us</li>
          </ol>
        </div>
      </nav>
    </section>

    <section class="contact margin-bottom-sm">
      <div class="container">
        <div class="row">
          <form>
            <div class="col-md-6">
                <div class="form-group">
                  <label for="">First Name<sup>*</sup></label>
                  <input type="text" class="form-control" id="" >
                </div>
                <div class="form-group">
                  <label for="">Email<sup>*</sup></label>
                  <input type="text" class="form-control" id="" >
                </div>
                <div class="form-group">
                  <label for="">Subject<sup>*</sup></label>
                  <input type="text" class="form-control" id="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                  <label for="">Last Name<sup>*</sup></label>
                  <input type="text" class="form-control" id="" >
                </div>
                <div class="form-group">
                  <label for="">Phone Number</label>
                  <input type="text" class="form-control" id="" >
                </div>
                <div class="form-group">
                  <label for="">Zip<sup>*</sup></label>
                  <input type="text" class="form-control" id="" >
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                  <label for="">Comment<sup>*</sup></label>
                  <textarea class="form-control" rows="5"></textarea>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> I'd like to receive emails from Lugnut's Tires
                  </label>
                </div>
                <button type="submit" class="btn cta-primary">Contact Us</button>
            </div>
          </form>
        </div>
      </div>
    </section>
